@use "/src/index.scss" as vars;

.buttonMenu
{
  appearance: none;
  background: none;
  border: none;
  width: 40%;
}

.menu
{
  width: 55%;
  height: 50vh;
  position: absolute;
  left: 0;
  top: 5vh;
  background-color: var(--color-background);
  justify-content: center;
  border: solid 1px var(--color-primary-dark);
  -webkit-box-shadow: 4px 4px 2px 0px var(--color-primary-dark-opacity);
  -moz-box-shadow: 4px 4px 2px 0px var(--color-primary-dark-opacity);
  box-shadow: 4px 4px 2px 0px var(--color-primary-dark-opacity);
  align-items: center;
  transform: translateX(-170%);
  transition: all 0.1s linear;

  .navContainer
  {
    flex-direction: column;
    padding-left: 0;
  }

  .navButton
  {
    border-radius: 5%;
  }

  .mobileNav
  {
    height: 90vh;
    margin-left: 0;
    width: 35vw;
    display: flex;
    flex-direction: column;
  }
}

.active-menu
{
  transform: translateX(0);
}