.resultsPanel
{
    &__title
    {
        &--highlight
        {
            color: var(--color-highlight);
            animation: glow 1.8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
            text-shadow: 0 0 5px var(--color-black);
            display: inline-block;
        }
    }

    @keyframes glow
    {
        0%
        {
            text-shadow: 0 0 5px var(--color-black);
            transform: scale(1) translateY(0) rotate(0deg);
        }

        50%
        {
            text-shadow: 0 0 20px var(--color-highlight);
            transform: scale(1.05) translateY(-5px) rotate(2deg);
        }

        100%
        {
            text-shadow: 0 0 5px var(--color-black);
            transform: scale(1) translateY(0) rotate(0deg);
        }
    }
}