.home
{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-3);
    padding-bottom: 5%;
    height: 100%;

    &__buttonContainer
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: var(--spacing-2);
        row-gap: var(--spacing-9);
        padding: var(--spacing-5);
        width: 100%;
        align-items: center;
        justify-items: center;
        height: 100%;

        @media (max-width: 700px)
        {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
            padding: var(--spacing-3);
        }
    }

    &__sectionButton
    {
        width: 50%;
        height: var(--input-size-8);
        border-color: var(--color-primary);
        box-shadow: none;
        transition: box-shadow 0.3s, border-color 0.3s, color 0.3s;

        @media (max-width: 700px)
        {
            width: 90%;
            height: var(--input-size-6);
        }

        &--results
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            gap: var(--spacing-2);
        }
    }

    &__participantsResultsContainer
    {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-2);
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    &__sectionButton:nth-child(1)
    {
        grid-column: 1;
        grid-row: 1;
    }

    &__sectionButton:nth-child(2)
    {
        grid-column: 2;
        grid-row: 1;

    }

    &__sectionButton:nth-child(3)
    {
        grid-column: 1 / span 2;
        grid-row: 2;
        justify-self: center;
        width: 55%;
        box-shadow: 0 0 12px 2px var(--color-primary), 0 0 0 0 var(--color-black);
        animation: enabledGlow 1.5s infinite alternate;

        @media (max-width: 700px)
        {
            width: 90%;

        }
    }

    &__sectionButton:nth-child(3):disabled
    {
        color: var(--color-primary);
        border-color: var(--color-red);
        box-shadow: 0 0 12px 2px var(--color-red), 0 0 0 0 var(--color-black);
        animation: apagadoGlow 1.5s infinite alternate;
        cursor: not-allowed;
        background: inherit;
        filter: none;
        opacity: 1;
    }

    &__sectionButton:disabled
    {
        color: var(--color-red);
        border-color: var(--color-red);
        box-shadow: none;
        animation: none;
        cursor: not-allowed;
        background: inherit;
        filter: none;
        opacity: 1;
    }

    @keyframes enabledGlow
    {
        0%
        {
            box-shadow: 0 0 12px 2px var(--color-primary), 0 0 0 0 var(--color-black);
        }

        100%
        {
            box-shadow: 0 0 24px 6px var(--color-primary), 0 0 0 0 var(--color-black);
        }
    }

    @keyframes apagadoGlow
    {
        0%
        {
            box-shadow: 0 0 12px 2px var(--color-red), 0 0 0 0 var(--color-black);
        }

        100%
        {
            box-shadow: 0 0 24px 6px var(--color-red), 0 0 0 0 var(--color-black);
        }
    }
}