:root
{
  --color-primary: #0ABAB5;
  --color-primary-dark: #0A9180;
  --color-primary-dark-opacity: #0A918055;

  --color-secondary: #56DFCF;
  --color-secondary-dark: #3FAE9A;

  --color-accent: #ADEED9;
  --color-highlight: #F31868;

  --color-background: #FFEDF3;
  --color-surface: #FFFFFF;

  --color-text: #1D2E2C;
  --color-text-secondary: #55635A;
  --color-border: rgba(29, 46, 44, 0.2);

  --color-green: #4CAF50;
  --color-red: #F44336;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-pink: #FF4081;
  --color-brown: #795548;
  --color-yellow: #FFEB3B;
  --color-orange: #FF9800;
}

.dark-mode
{
  --color-primary: #0ABAB5;
  --color-primary-low-opacity: #0abab46a;
  --color-primary-dark: #0A9180;
  --color-primary-dark-opacity: #0A918055;

  --color-secondary: #56DFCF;
  --color-secondary-dark: #3FAE9A;

  --color-accent: #ADEED9;
  --color-highlight: #F31868;

  --color-background: #1E1F21;
  --color-surface: #2A2B2C;

  --color-text: #E0E0E0;
  --color-text-secondary: #BBBBBB;
  --color-border: rgba(224, 224, 224, 0.2);
}