.raffle
{
    padding: var(--spacing-3);
    background-color: var(--color-background);
    color: var(--color-text-primary);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-2);

    &__colors
    {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-2);
        width: 100%;
        justify-content: center;
        align-items: center;

    }


    @media (max-width: 768px)
    {
        flex-direction: column;
        padding: var(--spacing-2);
    }

    &__tableContainer
    {
        width: 80%;

        @media (max-width: 768px)
        {
            width: 80%;
            margin: var(--spacing-2);
        }
    }

    &__table
    {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: var(--spacing-2);
    }

    &__thead
    {
        background-color: var(--color-primary);

        &__row
        {
            background-color: var(--color-primary-dark);
        }
    }

    &__tbody &__row
    {

        &:nth-child(even)
        {
            background-color: var(--color-primary);
        }

        &:nth-child(odd)
        {
            background-color: var(--color-highlight);
        }



    }

    &__cell
    {
        padding: var(--spacing-2) var(--spacing-2);
        border: 1px solid var(--color-border);
        color: var(--color-white);
        font-size: var(--font-size-6);
        text-align: center;
        text-shadow: 1px 1px 2px var(--color-black);

        &--header
        {
            font-weight: bold;
            color: var(--color-text);
            text-align: left;
        }

        &[data-color="Verde"]
        {
            background-color: var(--color-green);
            color: var(--color-black);
        }

        &[data-color="Rojo"]
        {
            background-color: var(--color-red);
            color: var(--color-white);
        }

        &[data-color="Blanco"]
        {
            background-color: var(--color-white);
            color: var(--color-black);
        }

        &[data-color="Negro"]
        {
            background-color: var(--color-black);
            color: var(--color-white);
        }

        &[data-color="Rosa"]
        {
            background-color: var(--color-pink);
            color: var(--color-black);
        }

        &[data-color="Marrón"]
        {
            background-color: var(--color-brown);
            color: var(--color-white);

        }

        &[data-color="Amarillo"]
        {
            background-color: var(--color-yellow);
            color: var(--color-black);
        }

        &[data-color="Naranja"]
        {
            background-color: var(--color-orange);
            color: var(--color-black);
        }


    }

    &__button
    {
        display: inline-block;
        padding: var(--spacing-2) var(--spacing-3);
        background-color: var(--color-secondary);
        color: var(--color-white);
        font-size: var(--font-size-3);
        border: none;
        border-radius: var(--spacing-1);
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover
        {
            background-color: var(--color-secondary-dark);
        }
    }

    &__results
    {
        margin-top: var(--spacing-3);

        & .raffle__table
        {
            margin-top: var(--spacing-2);
        }
    }
}

.dark-mode
{
    .raffle
    {
        background-color: var(--color-background);

        &__thead
        {
            background-color: var(--color-primary-dark);
        }

        &__cell--header
        {
            color: var(--color-text);
        }

        &__button
        {
            background-color: var(--color-secondary-dark);

            &:hover
            {
                background-color: var(--color-secondary);
            }
        }
    }
}